:root {
  --primary-color: #ff4240;
  --title-color: #131318;
  --grey: #ffffff99;
  --p-color: #13131899;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

/* .percent-card h1{
    display: flex;
    background: url('assets/percentage/percent-87.svg');
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    justify-content: center;
    background-size: cover;
    align-items: center;
} */
#program-1 {
  background: linear-gradient(280deg, #0000007b 0%, rgba(19, 19, 24, 0.5) 100%),
    url("assets/program.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#program-2 {
    background: linear-gradient(280deg, #0000007b 0%, rgba(19, 19, 24, 0.5) 100%),
    url("assets/program-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#program-3 {
    background: linear-gradient(280deg, #0000007b 0%, rgba(19, 19, 24, 0.5) 100%),
    url("assets/program-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
